/*
 * This is a manifest file that'll be compiled into application.css,
 * which will include all the files listed below.
 *
 * Any CSS and SCSS file within this directory,
 * lib/assets/stylesheets, vendor/assets/stylesheets, or
 * vendor/assets/stylesheets of plugins, if any, can be referenced
 * here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll
 * appear at the top of the compiled file, but it's generally better
 * to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background-color:#232B2B;
  color: #FFFFFF;
}

body h1{
  background-color:#DC3D24;
  border-top: 1px solid #FFFFFF;
  padding-top: 3px;
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 3px;
}

body a{
  color:#E3AE57;
  font-size: large;
}

.submit {
  margin-top:10px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Impact;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:auto;
	width:auto;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.submit:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}

.submit:active {
	position:relative;
	top:1px;
}

div.photo-tag {
  width: 100px;
  height: 100px;
  border: solid red 5px;
  float: left;
}

ul.tag-options {
  float: left;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

ul.tag-options li {
  border: solid red 5px;
  color: red;
  height: 20px;
  width: 100px;
}

ul.login-info {
width:auto;
float:right;
background-color:#DC3D24;
width:auto;
border-radius:25px;
padding:10px;
border:1px solid black;
}

ul.login-info li{
list-style: none;
float:left;
display:inline-block;
clear:both;

}
